<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<form action='/prod_list' method='post'>
		<input type="text" name="prod_name">
		<button type="submit">Submit</button>
	</form>
</body>
</html>