<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="./../product_test.css">
</head>
<body>
	<form action='/prod_list' method='post'>
		<p>Product Name:</p>
		<input type="text" name="prod_name">
		<p>Product Type:</p>
		<input type="text" name="prod_type">
		<p>Product ID:</p>
		<input type="text" name="prod_id">
		<button type="submit">Submit</button>
	</form>
</body>
</html>